<section>
    <div class="container-fluid">
        <div class="row col-12 d-flex justify-content-center ml-0">
            <img src="/assets/images/pictos/storia-flower-full.png" class="cards-title-logo mt-1" alt="Logo de S'toria">
            <h2 class="ml-2">S'TORIA</h2>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mt-4 mobile-center-text">
            <p>S’toria accompagne les entreprises, institutions,
                collectivités et sites historiques dans des projets
                de <span>gestion de leurs archives</span> et de <span>valorisation
                de leur patrimoine</span>.</p>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mb-4 mobile-center-text">
            <p>Votre histoire est <span>au cœur de votre identité</span>&nbsp;: c’est par la transmission
                de ces valeurs historiques que votre structure perdure et construit son futur.
                La valorisation du patrimoine est un <span>outil majeur de la communication</span>
                de nos jours, qui permet de donner un ancrage à vos valeurs, votre capacité
                à innover mais aussi <span>d’affirmer l’identité d’une marque, d’un terroir,
                d’un savoir-faire à travers son histoire</span>.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-12 mb-2 card-container">
                <img src="/assets/images/cards/storia-card-proteger.png" alt="S'toria protège vos archives." class="storia-card">
                <div class="text-over-card card-proteger">
                    <div class="text-card">
                        <p>Protéger ses archives, les conserver dans les meilleures conditions, constitue
                            la clé d’une valorisation patrimoniale réussie.</p>
                        <img src="/assets/images/pictos/storia-asterisk-ice.png" class="navbar-logo mb-2" alt="Asterisk S'toria">
                        <p><span>Le traitement des sources historiques permet de se plonger au cœur de votre
                            histoire, de vos valeurs, et de consolider un héritage à transmettre.</span></p>
                        <img src="/assets/images/pictos/storia-asterisk-ice.png" class="navbar-logo mb-2" alt="Asterisk S'toria">
                        <p>La sauvegarde de cette mémoire implique aussi de travailler au-delà,
                            en complétant le fonds patrimonial propre à votre structure par des recherches
                            historiques, des collectes d’archives orales, des sources qui enrichissent
                            votre passé. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12 mb-2 card-container">
                <img src="/assets/images/cards/storia-card-valoriser.png" alt="S'toria valorise vos archives." class="storia-card">
                <div class="text-over-card card-valoriser">
                    <div class="text-card text-card-valoriser">
                        <p>Votre mémoire peut être valorisée en diverses occasions&nbsp;: opération de communication
                            interne, anniversaire, origine d’un produit, histoire d’un savoir-faire,
                            d’un site ou d’un fondateur...</p>
                        <img src="/assets/images/pictos/storia-asterisk-petrol.png" class="navbar-logo mb-2" alt="Asterisk S'toria">
                        <p>La valorisation patrimoniale est un <span>vecteur de communication en interne
                            et à l’externe</span> qui favorise le développement
                            de stratégies marketing innovantes, de l’attractivité d’un territoire ou encore
                            d’une offre touristique. Elle permet de <span>préserver sa culture d’entreprise,
                            de développer son image de marque, de donner du sens à vos actions</span>.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12 mb-2 card-container">
                <img src="/assets/images/cards/storia-card-transmettre.png" alt="S'toria transmet vos archives." class="storia-card">
                <div class="text-over-card card-transmettre">
                    <div class="text-card">
                        <p><span>Renouer avec ses racines, c’est aussi se projeter dans l’avenir</span>.
                            Connaître son passé est à la fois une source d’inspiration et de créativité,
                            qui permet de promouvoir vos activités en favorisant l’adhésion de vos salariés,
                            de vos clients, de vos collaborateurs, de répondre à une offre touristique,
                            de sauvegarder une mémoire familiale ou territoriale.</p>
                        <img src="/assets/images/pictos/storia-asterisk-ice.png" class="navbar-logo mb-2" alt="Asterisk S'toria">
                        <p>Protéger et valoriser son patrimoine historique permet de constituer un héritage,
                            de lui donner du sens, une certaine sensibilité, pour mieux le transmettre
                            aux générations futures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>