<section>
    <div class="container-fluid prestations">
        <div class="row col-12 p-0 ml-0 d-flex justify-content-center">
            <h2>Contact</h2>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mobile-center-text mt-4">
            <p>Vous souhaitez plus de renseignements ? Me décrire votre projet ?
                N’hésitez pas à me contacter !</p>
            <p>I speak English, please contact me for any international project.</p>
        </div>
        <div class="row d-flex align-items-center mt-3">
            <div class="col-1 offset-2 logo-contact-container">
                <img src="/assets/images/pictos/storia-flower-full.png" class="contact-logo" alt="Logo de S'toria">
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1 contact-form">
                <div class="row d-flex justify-content-center">
                    <p>S.A.S S'TORIA</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p>Stéphanie Desvaux</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p>11 rue Sainte-Lucie</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p">31300 TOULOUSE</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p>stephaniedesvaux@live.fr</p>
                </div>
                <div class="row d-flex justify-content-center">
                    <p">06.26.67.67.74</p>
                </div>
            </div>
            <div class="col-1 offset-1 d-flex align-items-center logo-contact-container">
                <img src="/assets/images/pictos/storia-flower-full.png" class="contact-logo" alt="Logo de S'toria">
            </div>
        </div>
    </div>
</section>