<section>
    <div class="container-fluid">
        <div class="row col-12 d-flex justify-content-center">
            <h2>Une expertise à votre service</h2>
        </div>
        <div class="row col-10 offset-1 mt-4">
            <p>S’TORIA associe le monde des archives à celui de la communication
                et de la médiation culturelle. Par mon expertise scientifique
                et mon expérience, je vous propose une gestion de projet conjuguant
                <span>archivage de tous supports, stratégie patrimoniale et valorisation</span>,
                pour apporter <span>une réponse sur mesure à vos besoins</span>.</p>
        </div>
        <div class="row col-12 d-flex justify-content-center">
            <h3>Nuage de mots-clé</h3>
        </div>
        <div class="row col-12 d-flex justify-content-center">
            <h3>Qui suis-je ?</h3>
        </div>
        <div class="row col-10 offset-1 mt-4">
            <div class="col-7 d-flex align-items-end pl-0 ml-0">
                <div>
                    <p><span>Une formation en Histoire et Archivistique...</span></p>
                    <p>Ayant découvert le domaine des archives lors d’une sortie scolaire,
                        j’ai depuis l’âge de 10 ans toujours souhaité exercer ce métier.
                        Après une formation en Histoire et en Archivistique, je me suis
                        spécialisée dans le traitement et la valorisation des archives privées.</p>
                </div>
            </div>
            <div class="col-5 pb-4">
                <img src="/assets/images/img/storia-portrait.jpg" class="portrait rounded img-thumbnail" alt="Portrait de Stéphanie Desvaux, fondatrice de S'toria.">
            </div>
        </div>
        <div class="row col-10 offset-1">
            <p><span>... Et des compétences en archivage, communication et marketing patrimonial.</span></p>
            <p>Neuf ans d’expérience en tant qu’archiviste et chef de projet Patrimoine dans le secteur
                de la mode et du luxe m’ont permis de développer des compétences en communication
                et marketing patrimonial.</p>
            <p>Passionnée d’histoire et d’histoire de l’art, j’ai développé divers projets
                de valorisation : parcours de visites guidées, escape game dans un grand magasin,
                expositions, communication digitale, brochures pédagogiques...</p>
            <p>Pour en savoir plus sur mon parcours professionnel, retrouvez-moi sur
                <span><a href="https://fr.linkedin.com/in/st%C3%A9phanie-desvaux-39568664" class="linkedin" target="_blank">Linkedin</a></span>.</p>
        </div>
    </div>
</section>