<div class="container-fluid col-10 offset-1">
    <footer class="col-12 d-flex justify-content-center align-items-center rounded-top">
        <div class="col-4 site-contributors border-right">
            <p>© 2020 S'TORIA</p>
            <p>Site réalisé par <a href="https://github.com/green-onions" target="_blank">green-onions</a></p>
            <p>Charte graphique par <a href="https://karenrazafimandimby.com/" target="_blank">Karen Razafimandimby</a></p>
            <p class="social-network-text">Icônes réseaux sociaux <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a> / <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></p>
        </div>
        <div class="col-4">
            <div class="row d-flex justify-content-around mt-3">
                <a href="https://www.instagram.com/s.toria_/" target="_blank"><img src="/assets/images/logos/storia-instagram.png" alt="Instagram"></a>
                <a href="https://www.facebook.com/Storia-101528224885127/" target="_blank"><img src="/assets/images/logos/storia-facebook.png" alt="Facebook"></a>
                <a href="https://www.linkedin.com/in/st%E9phanie-desvaux-39568664/" target="_blank"><img src="/assets/images/logos/storia-linkedin.png" alt="Linkedin"></a>
            </div>
        </div>
        <div class="col-4 site-contributors border-left">
            <p>Mentions légales</p>
            <p>xxxx</p>
            <p>xxxx</p>
            <p>xxxx</p>
        </div>
    </footer>
</div>