<div class="container-fluid" id="top-page">
    <div class="row d-flex justify-content-center">
        <img src="/assets/images/logos/storia-logo-full-light.png"
             alt="S'toria : protéger, valoriser, transmettre"
             class="logo-header">
    </div>
</div>