<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top rounded-bottom p-0 pl-2">
            <a class="navbar-brand" href="#top-page">
                <img src="/assets/images/pictos/storia-flower-full.png" class="d-inline-block align-top navbar-logo" alt="Logo de S'toria">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center navbar-list" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#storia">
                            <img src="/assets/images/pictos/storia-asterisk-petrol.png" class="d-inline-block align-top asterisk" alt="">
                            S'TORIA
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#expertise">
                            <img src="/assets/images/pictos/storia-asterisk-petrol.png" class="d-inline-block align-top asterisk" alt="">
                            EXPERTISE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#prestations">
                            <img src="/assets/images/pictos/storia-asterisk-petrol.png" class="d-inline-block align-top asterisk" alt="">
                            PRESTATIONS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            <img src="/assets/images/pictos/storia-asterisk-petrol.png" class="d-inline-block align-top asterisk" alt="">
                            CONTACT
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>