<section>
    <div class="container-fluid prestations">
        <div class="row col-12 d-flex justify-content-center p-0 ml-0">
            <h2>Prestations</h2>
        </div>
        <div class="row col-12 d-flex justify-content-center mt-3 p-0 ml-0">
            <h3>Votre histoire a de l'avenir !</h3>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mobile-center-text mt-4">
            <p>S’toria a pour objectif de raconter votre histoire de
                façon créative par des projets de valorisation innovants.</p>
            <p>De la définition d’une stratégie patrimoniale à sa mise en œuvre,
                du traitement de votre fonds d’archives à sa valorisation, S’toria
                vous propose des projets sur-mesure répondant à vos besoins.
                Chaque prestation peut être déclinée indépendamment ou constituer
                l’ensemble d’un projet de valorisation.</p>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mobile-expertise-list mt-3">
            <p class="list-title mb-4 text-center">PROTÉGER ET ÉTUDIER VOTRE HISTOIRE</p>
            <ul>
                <li>
                    Conseil en stratégie patrimoniale : étude de l’existant, analyse
                    des besoins, proposition de plans d’action
                </li>
                <li>
                    Archivage et gestion des collections : collecte d’archives papier
                    ou orales, classement, rédaction d’inventaires, reconditionnement,
                    conseils en conservation préventive et curative
                </li>
                <li>
                    Suivi de projets de numérisation
                </li>
                <li>
                    Accompagnement dans la mise en place d’une base de données
                </li>
                <li>
                    Documentation
                </li>
                <li>
                    Recherches historiques et iconographiques
                </li>
            </ul>
        </div>
        <div class="row col-xl-10 offset-xl-1 col-md-12 col-sm-12 col-12 mobile-expertise-list">
            <p class="list-title mb-4 text-center">VALORISER ET TRANSMETTRE VOTRE PATRIMOINE</p>
            <ul>
                <li>
                    Expositions : composition de contenu, organisation de l’événement,
                    coordination de scénographie, montage et démontage, médiation
                </li>
                <li>
                    Organisation d’événements : Journées Européennes du Patrimoine,
                    conférences, escape game, team building...
                </li>
                <li>
                    Visites guidées : création de parcours pour divers publics,
                    animation de visites multilingues...
                </li>
                <li>
                    Publications, contenu audiovisuel : rédaction, composition,
                    coordination de la réalisation
                </li>
                <li class="last-list-item">
                    Formations : formation en archivistique, mise en place d’une
                    politique d’archivage, d’un plan de prévention sur la sauvegarde des archives
                </li>
            </ul>
        </div>
    </div>
</section>