* {
    --storia-major-font: 'Playfair Display', serif;
    --storia-text-font: 'Raleway', sans-serif;
    --storia-ice: #d6eceb;
    --storia-frost: #84cbcd;
    --storia-duck: #048b9a;
    --storia-petrol: #1d4851;
}

body {
    background-color : aliceblue;
    font-family: var(--storia-text-font);
    font-size: 1.2rem;
}

hr {
    margin-top: 3rem;
    width: 80%;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

h2 {
    font-family: var(--storia-major-font);
    color: var(--storia-petrol);
}

h3 {
    font-family: var(--storia-major-font);
    color: var(--storia-petrol);
}

span {
    font-weight: 700;
}

.logo-header {
    width: 70%;
    margin-top: 5rem;
    height: 100%;
    /*filter: drop-shadow(4px 4px 4px var(--storia-petrol));*/
}

.navbar {
    font-family: var(--storia-major-font);
    background-color: var(--storia-ice);
    width: 94%;
    margin-left: 3%;
}

.navbar a {
    color : var(--storia-duck)
}

.navbar a:hover {
    color : var(--storia-petrol);
}

.navbar-logo {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-logo:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar .asterisk {
    margin-top: 0.3rem;
    margin-right: 0.1rem;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar .asterisk:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar-list {
    padding-right: 3.6rem;
}

.card-container {
    position: relative;
    padding: 0;
    margin: 0;
}

.cards-title-logo {
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cards-title-logo:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.storia-card {
    display: block;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

.text-over-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 92%;
    margin: 0 1rem 0 1rem;
    opacity: 0;
    transition: .5s ease;
}

.card-proteger {
    background-color: var(--storia-petrol);
}

.card-valoriser {
    background-color: var(--storia-frost);
}

.card-transmettre {
    background-color: var(--storia-duck);
}

.card-container:hover .text-over-card {
    opacity: 1;
}

.text-card {
    color: var(--storia-ice);
    font-size: 1.2rem;
    position: absolute;
    top: 12%;
    left: 16%;
    -webkit-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    text-align: center;
}

.text-card-valoriser {
    color: var(--storia-petrol);
    font-size: 1.2rem;
    position: absolute;
    top: 12%;
    left: 16%;
    -webkit-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    text-align: center;
}

.portrait {
    width: 100%;
    height: 100%;
}

.linkedin {
    color: var(--storia-duck);
}

.linkedin:hover {
    color: var(--storia-petrol);
    text-decoration: none;
}
